.modal
{
    background: rgba(0, 0, 0, 0.589) !important; 
    opacity: 1.0 !important;
    z-index: 10000;
}
.modal-content{
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.86);
    width: 100%;
}
/* .content-publicar {
    border-radius: 10px !important;
    align-items: center !important;
    align-content: center !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.88);

    z-index: 1000 !important;
} */
.modal-contentT {
    border-radius: 10px !important;
    align-items: center !important;
    align-content: center !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.88);
    
}
.modal-body {
    
    padding-top: 3rem;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.modal-bodyT {
    
    padding-top: 1.5rem;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.modal-bodyImagen {
    
    padding-top: 0.5rem;
    padding-right: 0em !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.modal-footer {
    border-top: 0 none !important;
    padding-bottom: 3rem;
    width: 100% !important;
}
.modal-footerL {
    border-top: 0 none !important;
    align-items: center !important;
    align-content: center !important;
    width: 100% !important;
    padding-bottom: 3rem;
    
}
.btn-listo {
    border-top: 0 none !important;
    align-items: center !important;
    align-content: center !important;
    width: 45% !important;
    
}
.modal-footerT {
    
    padding-bottom: 1rem;
    width: 100% !important;
}
.btn-modal {

    background: linear-gradient(90deg, rgb(153, 37, 37) 0%, rgb(187, 0, 0) 26%, rgb(188, 44, 44) 61%, rgb(188, 44, 44) 100%);
    color: white !important;
    border-radius: 8px !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
    margin-left: 0em;
    margin-right: 0em;
    width: 100%;
}
.btn-publicar {

    /* background-color: #0b5ed9 !important; */
    background: linear-gradient(90deg, rgb(153, 37, 37) 0%, rgb(187, 0, 0) 26%, rgb(188, 44, 44) 61%, rgb(188, 44, 44) 100%);
    color: white !important;
    border-radius: 8px !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
    margin-bottom: 1.2em;
    margin-right: 0em;
    width: 100%;
}
.title-modal {

    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-size: 27px;
    padding-top: 0em;
    padding-bottom: 1em;
    line-height: 25px;
    font-weight: 700;
    color: #072857;
    
}
.parrafo-modal {

    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-size: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 29px;
    font-weight: 500;
    color: #072857;
}