.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}

.container-fluid {
  position: relative;
}

.logo{
  position: relative;
  width: 339px;
  height: 284px;
  top: 55px;
}

#preview {
    
    /* right: 0; */
    /* bottom: 0; */
    width: 100%;
    height: auto !important;

}

#videoQR {
    position: relative;
    width: 100%;
    height: auto !important;
    
}

#cerrarVideo {
  position: absolute;
  bottom: 90%;
  left: 86%;
  
}

#modalActivate {
  position: relative;
  top: 140px;
  
}

@media screen and (min-width:768px) {
    #preview {
      width:40%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

@media screen and (min-width:768px) {
    #videoQR {
      width:40%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

.nav-link {

  display:inline-block;
}
